<html>

<head>
  <meta http-equiv="Cache-Control" content="private"> <!--VIP-->
  <meta charset="utf-8">
  <link href="{{url_for('static', filename = 'style.css')}}"  rel="stylesheet" media="all"/>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="private"> <!--VIP-->
    <link rel='stylesheet prefetch' href='http://www.andrewwierzba.com/signature/css/madeBy.css'>

    <link rel="stylesheet" href="style.css">
  <title="List"/>
</head>

<body>
    <p >Розрахункова робота <br>
        з дисципліни<br>
          "Математичні методи дослідження операцій" - Hyperthyodism<br>
Виконав<br>
студент 3 курсу ФБМІ групи БС-42<br>
Занора Дмитро </p><br><br>

    <a href="{{url_for('Main')}}">
  <div class="basicBox" > <p> Tool</p>
    <svg width="130" height="65" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
      <rect x='0' y='0' fill='none' width='130' height='65' />
    </svg>
  </div>
  </a>
</body>

</html>
